{
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "no-unused-vars": ["error", {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_"
      }
    ],
    "linebreak-style": "off",
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "all",
      "printWidth": 100
    }]
  }
}
