# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:10

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: npm install lerna@^2.2.0 && npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
     # - run: yarn test
      # run linter
      - run: npm run eslint
      - deploy:
          name: Production Deploy
          command: |
            if [ "${CIRCLE_BRANCH}" == "develop" ]; then
            ssh -o "StrictHostKeyChecking no" deploy@95.85.4.133 'cd feathers-giveth-develop/ && git checkout develop && git pull && npm ci && npm run serve;'
            fi
            if [ "${CIRCLE_BRANCH}" == "release" ]; then
            ssh -o "StrictHostKeyChecking no" deploy@95.85.4.133 'cd feathers-giveth-release/ && git checkout release && git pull && npm ci && npm run serve;'
            fi
